@font-face {
  font-family: Raleway;
  src: url(resource/font/raleway_variable.ttf);
}
.gallery a img{
  width: 100%;
  height: auto;
}
.progress {
  margin-bottom: 2rem;
}
.upload-section{
  visibility: hidden;
}
.upload-button{
  margin-bottom: 2em;
}
.about h1 {
  font-size: 2.5em;
}
.about p{
  float: left;
  font-size: 1.5em;
}
#aboutcat{
  float: right;
}
#KBYlogo{
  max-width: 10%;
  float: right;
}
.gallery img:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
img {
  -webkit-filter: brightness(100%);
}