@font-face {
  font-family: Raleway;
  src: url(resource/font/raleway_variable.ttf);
}
.gallery a img{
  width: 100%;
  height: auto;
}
.progress {
  margin-bottom: 2rem;
}
.upload-section{
  visibility: hidden;
}
.upload-button{
  margin-bottom: 2em;
}
.about h1 {
  font-size: 2.5em;
}
.about p{
  float: left;
  font-size: 1.5em;
}
#aboutcat{
  float: right;
}

/* 
.fixedScrolling{
  position: fixed;
  top: 20px;
} */
